<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:name=".bghhyhyhy.PapapapapapapClas"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiraculousCrown"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ggthigt.SeeeccSeeecaaaActivity2"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".frgthyhyhy.FilalalaaaaaaActivity2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".gtojigtjitg.VebobooooActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ggthigt.GagogogaaammyyActivity2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".frgthyhyhy.SplashinggggActivity2"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gthhyhyhygthhyhy.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>